<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="div-versionuno">
            <div class="logoliebre"><a href="/"><img class="logodos" src="/img/logo-mercado-liebre.svg" alt="Logo del sitio"></a>
            </div>
            <div class="formulario">
                <form action="" method="post" target="_blank">
                    <p>
                        <input class="formulario-1" type="search" placeholder="Buscar productos, marcas">
                        <input class="formulario-2" type="submit" value="Buscar">
                    </p>
                </form>
            </div>
            <div class="logo-tres">
                <p class="logo-cuotas"><i class="fas fa-hand-holding-usd"></i>compra en cuotas y sin tarjeta de crédito
                </p>
            </div>
        </div>    
                <div class="div-navbar"><nav class="listado">
                    <ul class="listado-1"> 
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                    <ul class="listado-2">
                        <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
            </div>

        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="banner"><img class= "banner-home" src="/img/img-home-banner.jpg" alt="banner"></div>
        <main class="main-tablet">
            <section class= "section-display">
                <p class="titulares"><strong>Login de Usuario</strong></p>
                <form class="form-login" action="/login" method="POST"> 
                    <p class="usuario-pass">
                        <label>Nombre de usuario:</label>
                    <input type="text" name="usuario" id="usuario">
                    </p>
                    <p class="usuario-pass">
                        <label>Contraseña:</label>
                    <input type="password" name="clave" id="clave">
                    </p>
                    <button class="button" type="submit"><a href="/"><label class="button-login">Enviar</label></button></a>
                </form>
        </main>

    <footer>
        <section class="section-footer">
            <i class="fas fa-credit-card imagen"></i>
            <h1 class="pie-pagina">Pagá con tarjeta o en efectivo</h1>
            <p class="text-pie">Con Mercado Liebre Cash, tenés cuotas sin
                interés con tarjeta o efectivo en punto de
                pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="section-footer">
            <i class="fas fa-gift imagen"></i>
            <h2 class="pie-pagina">Envío gratis desde $ 2.500</h2>
            <p class="text-pie"> Solo por estar registrad@ en Mercado Liebre
                tenés envíos gratis en miles de productos. Es
                un beneficio de Mercado Puntos</p>
        </section>
        <section class="section-footer">
            <i class="fas fa-user-shield imagen"></i>
            <h2 class="pie-pagina">Seguridad, te principio a fin</h2>
            <p class="text-pie">¿No te gusta?¡Devolvelo!En Mercado Liebre
                , no hay nada que no puedas hace, porque estás
                siempre protegid@</p>
        </section>
        <section class="copyright">
            <h4>Copyrigth 1999-2020 Mercado Liebre S.R.L.</h4>
        </section>

    </footer>
</body>

</html>